.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
  
    ul {
      margin-right: 0.3rem;
      font-weight: bold;
      text-decoration: none;
      color: black;
  
      &:hover,
      &:focus {
        text-decoration: underline;
        color: #42b983
      }
    }
  
    li {
      display: flex;
      gap: 10px;
  
    }
  
    a {
      display: flex;
      gap: 5px;
      text-decoration: none;
      list-style: none;
      align-items: center;
      color: black;
  
      &:hover,
      &:focus {
        color: #42b983
      }
  
      @media (max-width: 641px) {
        white-space: nowrap;
        font-size: 0.9rem;
      }
    }
  
    img {
      display: flex;
      align-items: center;
      max-width: 100%;
      width: 200px;
    }
  }