 .main{
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 2rem;
    width: 300px;
    background-color: white;
 }
  
    fieldset {
      text-align: left;
      border: none;
      padding: 0;
      padding-bottom: 15px;
    }
  
    input {
      padding: 5px;
      font-size: 1.3rem;
    }
  
    button {
      display: block;
      width: 100%;
      padding: 8px;
      font-size: 1rem;
      text-decoration: underline;
    }
  
    p {
      color: red;
      font-weight: italic;
    }
  

  .remember label {
    margin-left: 0.25rem;
  }
  
  label.sign {
    font-weight: bold;
  }